@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --grad-text: linear-gradient(87deg, #ffa760 2%, #fa4b2c 103%);
  --grad-bar: linear-gradient(104deg, #ee742d -14%, #ee742d00 100%);
  
  --color-background: #030811;
  --color-footer : #081624;
  --color-subtext: #f3846b;
}
