.det__technology {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.det__technology div {
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}