.det__technology {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.det__technology div {
    flex: 1;
    max-width: 150px;
    min-width: 125px;
    margin: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}