.det__DetectionDesc {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--footer-color);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 10% -100%, #06111b 25%, rgb(3, 22, 41) 85%, rgb(1, 23, 44) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 10% -100%, #06111b 25%, rgb(3, 22, 41) 85%, rgb(1, 23, 44) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 10% -100%, #06111b 25%, rgb(3, 22, 41) 85%, rgb(1, 23, 44) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 10% -100%, #06111b 25%, rgb(3, 22, 41) 85%, rgb(1, 23, 44) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 10% -100%, #06111b 25%, rgb(3, 22, 41) 85%, rgb(1, 23, 44) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.det__DetectionDesc-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.det__DetectionDesc-feature .det__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.det__DetectionDesc-feature .det__features-container_feature-text {
    max-width: 700px;
}

.det__DetectionDesc-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.det__DetectionDesc-heading h1 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 520px;
}

.det__DetectionDesc-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: var(--subtext-color);
    cursor: pointer;
}

.det__DetectionDesc-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2.25rem;
}

/* Customizing feature component as per needs */
.det__DetectionDesc-container .det__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 220px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.det__DetectionDesc-container .det__features-container_feature-text {
    margin-top: 0.6rem;
}

@media screen and (max-width: 875px) {
    .det__DetectionDesc-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .det__DetectionDesc-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 675px) {
    /* Customizing feature component as per needs */
    .det__DetectionDesc-feature .det__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .det__DetectionDesc-feature .det__features-container_feature-text {
        margin-top: 0.6rem;
    }

    .det__DetectionDesc-heading h1 {
        font-size: 29px;
        line-height: 42px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .det__DetectionDesc-container .det__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}